<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/defaultTemplate :: defaultHead (title='Addcredit')"></head>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <script>
        window.facebookSDKPromise = new Promise(function (resolve) {
            window.fbAsyncInit = function() {
                FB.init({
                    appId            : '620190371768470',
                    cookie           : true,
                    xfbml            : true,
                    version          : 'v3.2'
                })
                resolve(FB)
            }
        });

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</head>
<body>
    <div id="app">
        <div class="d-none">
            <a th:href="${redirect} != null ? ${redirect} : '/'" id="redirect"></a>
        </div>
        <div v-if="authStatus === 'checking'">
            Checking login status...
        </div>
        <div v-if="authStatus === 'connected'">
            connected
            <button
                    @click="logout"
            >
            Logout
            </button>
        </div>
        <div v-if="['not_authorized', 'unknown'].includes(authStatus)">
            <nav class="navbar bg-primary text-white fixed-top ">
                <span class="navbar-brand mx-auto h1 d-md-none">Shopdi Login</span>
                <div th:replace="fragments/shopdiBanner :: banner" ></div>
            </nav>
            <div class="container">
                <div class="row justify-content-center login-area">
                    <div class="col-11 col-md-7 col-lg-4 text-center login-block">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h4 class="login-text topic">Login to Shopdi</h3>
                            </div>
                        </div>
                        <hr>
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-8">
                                <button
                                    type="button"
                                    class="btn btn-facebook is-link"
                                    @click="signIn"
                                >
                                    <i class="fab fa-facebook-square facebook-icon"></i>
                                    Sign in with Facebook
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js"></script>

    <script type="text/javascript">
        const app = new Vue({
            el: '#app',
            name: 'App',
            data: () => ({
                authStatus: 'checking', // checking, connected, notAuthorized
                authResponse: null,
                id: null
            }),
            async created () {
                const FB = await window.facebookSDKPromise
                FB.getLoginStatus(res => {
                    this.onAuthResponseChange(res)
                    this.onStatusChange(res)
                    FB.Event.subscribe(
                        'auth.authResponseChange',
                        this.onAuthResponseChange
                    )
                    FB.Event.subscribe(
                        'auth.statusChange',
                        this.onStatusChange
                    )
                })
            },
            methods: {
                async signIn () {
                    const result = await new Promise(resolve => {
                        FB.login(resolve, { scope: 'email' })
                    })
                    console.log('Login result', result)
                },
                async onAuthResponseChange ({ authResponse }) { // extract authResponse from event
                    if (authResponse) {
                        console.log(authResponse)
                        const form = new FormData()
                        form.append("accessToken", authResponse.accessToken)
                        const data = await axios.post('http://localhost:8081/auth/facebook', form)
                        if (data) {
                            Cookies.set('x-token', data.data.token)
                            document.querySelector('#redirect').click()
                        }
                        this.id = authResponse.userID
                        console.log('onAuthResponseChange', authResponse && authResponse.userID)
                    }
                },
                onStatusChange ({ status }) {
                    console.log('onStatusChange', status)
                    this.authStatus = status
                },
                logout() {
                    FB.logout()
                }
            }
        })
    </script>
</body>
</html>