<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/defaultTemplate :: defaultHead (title='ShippingInfo')"></head>

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/ShippingInfo.css}">
</head>

<body>
    <nav class="navbar bg-primary text-white fixed-top">
        <div class="row full-width">
            <div class="col-2">
                <a href="/" title="back to home page">
                    <i class="fa fa-chevron-left back-icon"></i>
                </a>
            </div>
            <div class="col-10">
                <span class="navbar-brand mx-auto h1 align-items-center justify-content-center">Shipping Info</span>
            </div>
        </div>
    </nav>


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 bg-white spaceWhiteBox">
                <section id="content">
                    <div class="row align-items-center justify-content-center">
                        <div class="row col-md-12 align-items-center justify-content-center space-subtext">
                            <div class="align-items-center justify-content-center subtext">
                                <span>You didn't add your address</span>
                            </div>
                        </div>
                        <div class="row align-items-center justify-content-center spacebtn-pri">
                            <div class="d-flex justify-content-center">
                                <div class="col-12 col-md-6 p-0">
                                    <a href="" class="btn-pri bg-primary full-width full-height d-flex align-items-center justify-content-center">
                                        <span class="text-title text-white">Add Address</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
            </div>


            <div class="col-12 col-md-6 bg-white">
                <section id="content">
                    <div class="row align-items-center justify-content-center">
                        <div class="row col-md-12 align-items-center justify-content-center space-subtext">
                            <div class="align-items-center justify-content-center subtext">
                                <span>You didn't add your payment</span>
                            </div>
                        </div>
                        <div class="row align-items-center justify-content-center spacebtn-pri">
                            <div class="d-flex justify-content-center">
                                <div class="col-12 col-md-6 p-0">
                                    <a href="" class="btn-pri bg-primary full-width full-height d-flex align-items-center justify-content-center">
                                        <span class="text-title text-white">Add Payment</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
            </div>

            <div class="btn-bottom d-flex justify-content-center">
                <div class="col-12 col-md-6 p-0">
                    <a href="" class="bg-primary full-width full-height d-flex align-items-center justify-content-center">
                        <span class="text-title text-white">Pay Now</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>

</html>