<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/defaultTemplate :: defaultHead (title='ShippingInfo')"></head>

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/ShippingInfo.css}">
</head>

<body>
    <nav class="navbar bg-primary text-white fixed-top ">
        <div class="row full-width">
            <div class="col-2">
                <a onclick="window.history.back()" class="pointer" title="back to home page">
                    <i class="fa fa-chevron-left back-icon"></i>
                </a>
            </div>
            <div class="col-8 text-center">
                <span class="navbar-brand mx-auto h1">Shipping Info</span>
            </div>

            <div class="col-2"></div>
        </div>
    </nav>


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-xl-6 bg-white space-white-box">


                <section id="content">

                    <div th:if="${user.address == null}" class="row justify-content-center">
                        <div class="row col-md-12 justify-content-center space-subtext ">
                            <div class="subtext-desc">
                                <span>You didn't add your addres</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <a href="/addAddress" class="btn-pri bg-primary my-4 d-inline-flex p-2 bd-highlight align-items-center justify-content-center">
                                    <span class="text-button text-white ">Add Address</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div th:unless="${user.address == null}" class="row">
                        <div class="col-12">
                            <div class="d-flex justify-content-between text-primary mt-2">
                                <div>Address</div>
                                <div>
                                    <a class="text-primary" href="#">edit address</a>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-3 col-md-2 text-right">
                                    <strong class="subtext-desc">Address:</strong>
                                </div>
                                <div class="col-9 col-md-10">
                                    <p class="subtext-info" th:text="${user.address}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>


        <div class="row justify-content-center mt-3">
            <div class="col-12 col-md-9 col-xl-6 bg-white space-white-box">

                <section id="content ">
                    <div th:if="${payment == null}" class="row justify-content-center">
                        <div class="row col-md-12 justify-content-center space-subtext ">
                            <div class="subtext-desc">
                                <span>You didn't add your payment</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <a href="/payment" class="btn-pri bg-primary my-4 d-inline-flex p-2 bd-highlight align-items-center justify-content-center">
                                    <span class="text-button text-white ">Add Payment</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div th:unless="${payment == null}" class="row">
                        <div class="col-12">
                            <div class="d-flex justify-content-between text-primary mt-2">
                                <div>Payment</div>
                                <div>
                                    <a class="text-primary" href="#">change your payment</a>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-5 text-right">
                                    <strong>Card Number:</strong>
                                </div>
                                <div class="col-7">
                                    <p th:text="${payment.cardNumber}"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 text-right">
                                    <strong>Card Holder:</strong>
                                </div>
                                <div class="col-7">
                                    <p th:text="${payment.holderName}"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 text-right">
                                    <strong>Expire Date:</strong>
                                </div>
                                <div class="col-7">
                                    <p>[[${payment.expiredMonth}]] / [[${payment.expiredYear}]]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </div>


    </div>



    </div>



    </div>



    <div class="btn-bottom d-flex justify-content-center ">
        <div class="col-12 p-0 ">
            <a href=" " th:classappend="${user.address == null || payment == null } ? 'disabled' : ''" class="bg-primary full-width full-height d-flex align-items-center justify-content-center ">
                <span class="text-title text-white ">Pay Now</span>
            </a>
        </div>
    </div>


</body>


</html>