<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/defaultTemplate :: defaultHead (title='Vieworder')"></head>

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/Vieworder.css}">
</head>

<body>
    <nav class="navbar bg-primary text-white fixed-top">
        <div class="row full-width">
            <div class="col-2">
                <a href="/" title="back to home page">
                    <i class="fa fa-chevron-left back-icon"></i>
                </a>
            </div>
            <div class="col-10">
                <span class="navbar-brand mx-auto h1 align-items-center justify-content-center">View Order</span>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 bg-white spaceWhiteBox box-btn">
                <div class="row ">
                    <div class="col-5">
                        <img class="col-12" src="https://dynamic.zacdn.com/N6uhkiChUf926vnTvBMCfv2fJTE=/fit-in/346x500/filters:quality(95):fill(ffffff)/http://static.my.zalora.net/p/pomelo-2229-0786741-5.jpg">
                    </div>
                    <div class="col-7">
                        <div class=" text text-title">
                            <p>Evalina</p>
                        </div>
                        <div class=" text-title">
                            <p>฿450</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>





    </div>
    </div>
    </div>

</body>

</html>