<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/defaultTemplate :: defaultHead (title='Vieworder')"></head>

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/Vieworder.css}">
</head>

<body>
    <nav class="navbar bg-primary text-white fixed-top">
        <div class="row full-width d-md-none">
            <div class="col-2">
                <a href="/" title="back to home page">
                    <i class="fa fa-chevron-left back-icon"></i>
                </a>
            </div>
            <div class="col-10">
                <span class="navbar-brand mx-auto h1 align-items-center justify-content-center">View Order</span>
            </div>
        </div>
        <div th:replace="fragments/shopdiBanner :: banner"></div>
    </nav>

    <div class="container">
        <div class="row justify-content-center mt-2">
            <div class="col-12 col-md-6 bg-white spaceWhiteBox box-btn ">
                <div class="row">
                    <div class="col-12 d-none d-md-block">
                        <h2>View Order</h2>
                    </div>
                    <div class="col-12">
                        <div class="alert alert-success" role="alert">
                            Your order success !
                        </div>
                    </div>
                    <div class="col-5">
                        <img class="full-width" th:src="${order.product.thumbnail}">
                    </div>
                    <div class="col-7">
                        <div class=" text text-title">
                            <p th:text="${order.product.name}"></p>
                        </div>
                        <div class=" text-title">
                            <p th:text="${'฿' + #numbers.formatDecimal(order.product.price, 0, 'COMMA', 2, 'POINT')}"></p>
                        </div>
                    </div>
                    <div class="col-12">
                        <hr>
                    </div>
                    <div class="col-12 d-flex justify-content-between">
                        <div>
                            Total
                        </div>
                        <div>
                            <p th:text="${'฿' + #numbers.formatDecimal(order.product.price, 0, 'COMMA', 2, 'POINT')}"></p>
                        </div>
                    </div>
                    <div class="col-12">
                        <hr>
                    </div>
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5>Address</h5>
                                <p th:text="${order.user.address}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <div class="card">
                            <div class="card-body">
                                <h5>Payment</h5>
                                <p>Holder: [[${payment.holderName}]]</p>
                                <p>Card: [[${payment.cardNumber}]]</p>
                                <p>Expired Date: [[${payment.expiredMonth}]] / [[${payment.expiredYear}]]</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-4">
                        <button class="btn bg-primary btn-block btn-lg text-white btn-bottom">
                            Back to Home
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>