.login-block {
    background-color: #efefef;
    border-radius: 10px;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
}

.topic {
    text-align: center !important;
}

.btn-facebook {
    background-color: #4967AD;
    color: #fff;
    width: 100%;
}

.btn-facebook:hover {
    background-color: #2d4b91;
}

.facebook-icon {
    margin-right: 10px;
}